$browser-context: 16; // Default browser size of em
@function toEm($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return calc($pixels / $context) * 1em;
}

@mixin nullMagPad {
    margin: 0;
    padding: 0;
}
html, body {
    @include nullMagPad;
    color: blue;
    background: url('img/stars-bg.png');
}

@mixin pFontSize($size: 2) {
    h1 {
        font-size: toEm($size * 24px);
    }
    p {
        font-size: toEm($size * 16px);
    }
}

@media only screen and (max-width: 768px) {
    @include pFontSize($size: 2.5);
}
/* ~1k devices */
@media only screen and (min-width: 769px) and (max-width: 1920px) {
    @include pFontSize($size: 3.0);
}
/* > 1k+ device */
@media only screen and (min-width: 1921px) {
    @include pFontSize($size: 3.5);
}
