html, body {
  margin: 0;
  padding: 0;
  color: blue;
  background: url("img/stars-bg.png");
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.75em;
  }

  p {
    font-size: 2.5em;
  }
}
/* ~1k devices */
@media only screen and (min-width: 769px) and (max-width: 1920px) {
  h1 {
    font-size: 4.5em;
  }

  p {
    font-size: 3em;
  }
}
/* > 1k+ device */
@media only screen and (min-width: 1921px) {
  h1 {
    font-size: 5.25em;
  }

  p {
    font-size: 3.5em;
  }
}